{% extends 'base.html' %}

{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center">
    
    
    <form action="{% url 'add_wants' %}" method="post">
        {% include 'messages.html' %}
        <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add Needs</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="source">Expense</label>
            <datalist id="sourcel" name="source">
                {% for i in l %}
                <option>{{i}}</option>
                {% endfor %}
              </datalist>
              {% if source %}
            <input autocomplete="on" class="form-control" list="sourcel" type="text" id="source" value="{{source}}" name="source" placeholder="Name of the Expense">
              {% else %}
            <input autocomplete="on" class="form-control" list="sourcel" type="text" id="source" value="{{source}}" name="source" placeholder="Name of the Expense">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" step="0.01" class="form-control" id="amount" name="amount" placeholder="Enter amount" value="{{amount}}" required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="last_date" placeholder="Enter date" required value="{% now 'Y-m-j' %}">
        </div>
        <div class="form-group">
            <label for="freq">Freqency</label>
            <select class="form-control" id="freq" name="frequency">
                <option>Daily</option>
                <option>Weekly</option>
                <option selected>Monthly</option>
                <option>Quarterly</option>
                <option>Biannually</option>
                <option>Yearly</option>
                <option>Once</option>
            </select>
        </div>
        <div class="form-group">
            <label for="source">Category</label>
            <datalist id="sourcell" name="source2">
                {% for i in cat %}
                <option>{{i}}</option>
                {% endfor %}
              </datalist>
            <input autocomplete="on" class="form-control" list="sourcell" type="text" id="source2" value="{{cc}}" name="category" placeholder="Name of the Category">
        </div>
        <div>
            <label for="op1">Do you want to pay this expense automatically ?(if frequency is not "Once")</label>
            <input type="checkbox" id="op1" name="status" value="1"/>
        </div>
        <div>
            <label for="op2">Is this an Emergency </label>
            <input type="checkbox" id="op2" name="is_emergency"/>
        </div>
        <button type="submit" class="btn btn-outline-primary" style="background-color: blue; color:whitesmoke " >Submit</button>
        <br><br>
        <br><br>
        <br><br>

    </form>
    <br><br>
</div>
{% endblock content %}