{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <form method="post" action="{% url 'add_needs' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="needs">Name of the Want</label>
            <input type="text" class="form-control" id="needs" name="source" placeholder="Enter want">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount">
        </div>
        <div class="form-group">
            <label for="date">Current Date</label>
            <input type="date" class="form-control" id="date" name="last_date" placeholder="Enter date" max="{% now 'Y-m-j' %}" readonly value="{% now 'Y-m-j' %}">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            {% if i %}
            <datalist id="suggestions" name="category">
            {% for i in l %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
            {% endif %}
            </datalist>
            <input autocomplete="on" class="form-control" list="suggestions" type="text" id="source" value="{{source}}" name="category" placeholder="Name of the Want">
        </div>
        <div class="form-group">
            <label for="Buy date">Enter the date on which you want to buy this item</label>
            <input type="date" class="form-control" id="Buy date" name="buy_date" placeholder="Enter date" min="{% now 'Y-m-j' %}">
        </div>
        {% include 'messages.html' %}
        {% if messages.error %}
        <div class="form-group">
            <label for="buffer">Do you want to use your buffer worth Rs. {{bu}} saved from previous months ?</label>
            <input type="checkbox" class="form-control" id="buffer" name="buffer" value="True">
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div> 
{% endblock content %}