{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <form method="post" action="{% url 'increase_buy_date' need.id %}">
        {% include 'messages.html' %}
        {% csrf_token %}
        <div class="form-group">
            <label for="Wants">Name of The Want</label>
            <input type="text" class="form-control" id="Wants" name="source" value="{{need.source}}" readonly>
        </div>
        <div class="form-group">
            <label for="amount">Amount needed more</label>
            <input type="number" class="form-control" id="amount" name="amount" value="{{more|floatformat:2}}" readonly>
        </div>
        <div class="form-group">
            <label for="date">Increase Buy Date</label>
            <input type="date" class="form-control" id="date" name="last_date" placeholder="Enter date" min="{% now 'j-m-Y' %}" value="{{new_date}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}