{% extends 'base.html' %}

{% block content %}
<div class="container pt-5" style="display:flex;align-items:center;justify-content:center;">
    <form method="get" action="{% url 'investment_summary' %}">
        <div class="row">
            <div class="col">
                <input type="number" name="name" placeholder="Enter Year" class="form-control" min="1900" max="{% now 'Y' %}">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary"  style="background-color: #0069d9; color:whitesmoke">Submit</button>
                    </div>
        </div>
    </form>
</div>
<div class="container pt-5 text-center">
    <h5>As per our calculations, based on your current income, expenses and previous choices, you should invest as per this calculation
    <br> in the year {{year}}</h5>
    <br>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Investment Type</th>
                <th scope="col">Amount needed to Invest this year </th>
                <th scope="col">Amount Invested</th>
            </tr>
        </thead>
        <tbody>
           {% for i in inv %}
            <tr>
                {% if i.Name == 'Mutual Funds' %}
                <td><a href="{% url 'mf_home' %}">{{i.Name}}</a></td>  
                {% elif i.Name == 'Large Cap Equity' %}
                <td><a href="{% url 'stock_home' %}">{{i.Name}}</a></td>  
                {% elif i.Name == 'Mid Cap Equity' %}
                <td><a href="{% url 'stock_home' %}">{{i.Name}}</a></td>  
                {% elif i.Name == 'Small Cap Equity' %}
                <td><a href="{% url 'stock_home' %}">{{i.Name}}</a></td>  
                {% elif i.Name == 'Fixed Deposits' %}
                <td><a href="{% url 'fd_home' %}">{{i.Name}}</a></td>  
                {% else %}
                <td><a href="{#% url 'fd_home' %#}">{{i.Name}}</a></td><!--TODO  Add link -->
                {% endif %}
                <td> &#x20b9;​{{i.Amount}}</td>
                <td> &#x20b9;​{{i.Invested}}</td>

            </tr>
            {% endfor %}
        </tbody>
        </table>
        <br>
        <br>
        <br>
</div>
{% endblock content %}