{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <form method="get" action="{% url 'investment_summary' %}">
        <input type="number" name="name" placeholder="Enter Year" class="form-control" min="1900" max="{% now 'Y' %}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container pt-5 text-center">
    As per our calculations, based on your current income, age and your previous choices, you should invest as per this calculation
    <br> in the current year {{year}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Investment Type</th>
                <th scope="col">Amount needed to Invest this year </th>
                <th scope="col">Amount Invested</th>
            </tr>
        </thead>
        <tbody>
           {% for i in inv %}
            <tr>
                <td><a href="#">{{i.Name}}</a></td> <!--TODO  Add link --> 
                <td> &#x20b9;​{{i.Amount}}</td>
                <td> &#x20b9;​{{i.Invested}}</td>

            </tr>
            {% endfor %}
        </tbody>
</div>
{% endblock content %}