{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% include 'messages.html' %}

    <h1>Sovereign Gold Bonds</h1>
    {% if not inv.SGB_i %}
    Invested this year : 0<br> 
    {% else %}
    Invested this year : {{inv.SGB_i}}<br> 
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Price</th>
                <th>Buy Date</th>
                <th>Sell Date</th>
                <th>Sell / Sell Price</th>
                <th>Sell Price (If Sold)</th>
            </tr>
        </thead>
        <tbody>
            {% for i in fd %}
            <tr>
                <td>{{i.price}}</td>
                <td>{{i.date}}</td>
                <td>{{i.sell_date}}</td>
                {% if not i.is_active %}
                <td>{{i.sell_price}}</td>
                {% else %}
                {% if i.sell_date <= dd %}
                <td><a href="/sgb_sell/{{i.id}}">Sell</a></td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
{% endblock content %}