{%extends 'base.html'%} {%block content%}
<div class="container">
  {% include 'messages.html' %}
  
<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><u>{{source|capfirst}}</u>
  
</u></h2>

<br><br>
  <h5>
    This year expense from {{so|capfirst}} is
    {{income_all_years|last|floatformat}} which is
    {{contribution|floatformat:2}}% of total expense.
    {%if growth|last > inflation|last%}
    Your expense grows faster than inflation. You need to look into it.
    {%else%}
    Your expense grows slower than inflation.
    {%endif%}
  </h5>

    <div class="container">
      <br>
      <a href="{% url 'delete_source_wants' lis.0.source %}" class="btn btn-danger" id="ale"><i class="fa fa-trash"> Stop all future payments </i></a>
      <br>
      <br>

  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>

          <th scope="col">Frequency</th>
          <th scope="col">Last Date</th>
          <th scope="col">Next Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% if not my.0.status %}
          <td><a href="{% url 'add_wants' %}?name={{my.0.source}}" class="btn btn-outline-primary" style="background-color: #0069d9; color:whitesmoke" >Pay for this needs</a>(Not Synced automatically)</td>
          {% else %}
          <td><button type="button" disabled class="btn btn-outline-success" style="background-color: green; color:white"> Synced automatically</button></td>

          {% endif %}
          <td><a href="{% url 'edit_wants' my.0.id %}" class="btn btn-outline-primary" style="background-color: #0069d9; color:whitesmoke">Edit Income</a></td>
          <td>{{my.0.frequency}}</td>
          <td>{{my.0.last_date}}</td>
          <td>{{my.0.next_date}}</td>
          </tr>
          </tbody>
          </table>
          
  <div>
    <br><br>

    <canvas
      id="myChart"
      class="col-md-6 row"
      url-endpoint="{% url 'chart_expense' source %}"
    ></canvas>
  </div>
  <div class="container">
    <canvas
    id="this_year"
    class="col-md-6 row"
    url-endpoint="{% url 'chart_expense' source %}"
    ></canvas>
  </div>
  <br><br><br>

</div>

<div class="container" style="display:flex;align-items:center">
  <br><br><br>
  <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><u>{{so|capfirst}} in Previous Years</u></h2>

</div>
    <div class="container">

<br><br><br>

    <div>
      <canvas
        id="income_contri"
        class="col-md-6 row"
        url-endpoint="{% url 'chart_expense' source %}"
      ></canvas>
    </div>
    <div>
      <canvas
        id="inflation_growth"
        class="col-md-6 row"
        url-endpoint="{% url 'chart_expense' source %}"
      ></canvas>
    </div>
    <br><br><br>
    <br><br><br>


  </div>
  <div class="container pt-5">
    <div class="container" style="display:flex;align-items:center">
      <br><br><br>
      <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><u>All Previous Credits from this source</u></h2>
    </div>
    <br><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {%for i in my %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.last_date}}</td>
          <td><a href="{% url 'delete_wants' i.id %}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete this from list</a></td>
        </tr>
        {%endfor%}
      </tbody>
      </table>
      <br><br><br>
      <br><br><br>
      <br><br><br>
    </div>


    <script>
    var endpoint = "{% url 'chart_expense' source %}";
    var defaultData = [];
    var labels = [];
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function (data) {
        console.log(data);
        graph(data, "myChart");
        this_year(data, "this_year");
        income_contrib(data, "income_contri");
        inflation_growth(data, "inflation_growth");
      },
      error: function (err) {
        console.log("error");
        console.log(err);
      },
    });
    function inflation_growth(data, id) {
      var myData = {
        labels: data.labels,
        datasets: [
          {
            type: "line",
            label:"Inflation",
            data: data.inflation,
            fill: false,
            borderColor: "red",
            backgroundColor: "#EC492F",
            pointBorderColor: "#EC492F",
            pointBackgroundColor: "#EC492F",
            pointHoverBackgroundColor: "#EC492F",
            pointHoverBorderColor: "#EC492F",
            lineTension: 0.4,
            pointRadius: 3.5,
            
          },
          {
            type: "line",
            label:"Expense Growth",
            data: data.growth,
            fill: false,
            borderColor: "blue",
            backgroundColor: "blue",
            pointBorderColor: "blue",
            pointBackgroundColor: "blue",
            pointHoverBackgroundColor: "blue",
            pointHoverBorderColor: "blue",
            lineTension: 0.4,
            pointRadius: 3.5,
          },
        ],
      };
      var options = {
        scales: {
          yAxes: [
            {
              type: "linear",
              ticks: {
                beginAtZero: true,
                fontSize:14,
                fontColor:'black',
              
              },
            },
          ],
        },
      };
      var ctx = document.getElementById(id).getContext("2d");
      var chart_expense = new Chart(ctx, {
        type: "line",
        data: myData,
        options: options,
      });
    }
    function income_contrib(data, id) {
      var labels = data.labels;
      var ctx = document.getElementById(id).getContext("2d");
      var options={
        scales: {
          yAxes: [
            {
              id:'ya',
              type: "linear",
              ticks: {
                beginAtZero: true,
                fontSize:14,
                fontColor:'black',
                barPercentage: 0.4
              },
            },
            {
              position:'right',
              id:'yb',
              type: "linear",
              ticks: {
                beginAtZero: true,
                fontSize:14,
                fontColor:'black',
              },
            }
          ],
        },
      }
      var chart_expense = new Chart(ctx, {
        type: "bar",
        data: {
          datasets: [
            {
              label: "Previous Year Expense from this source",
              data: data.income_all_years,
              borderColor: "green",
              backgroundColor: "rgba(99,255,100,0.7)",
              borderWidth: 2,
              yAxisID:'ya'
            },
            {
              label: "Contributions from this source in total Wants ",
              data: data.contribution_all_years,
              type: "line",
              backgroundColor: "rgba(255,99,132,0.2)",
              lineTension: 0.4,
              borderColor: "rgba(255,99,132,0.9)",
              yAxisID:'yb'
            },
          ],
          labels: data.labels,
        },
        options:options
      });
    }

    function this_year(data, id) {
      var labels = data.last_year_timings;
      var chartdata = data.last_year_income;
      var ctx = document.getElementById(id).getContext("2d");
      var chart_expense = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: data.source,
              backgroundColor: "rgba(204, 255, 0,0.9)",
              borderColor: "yellow",
              borderWidth: 3,
              borderColor: "black",
              data: chartdata,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  fontSize:14,
                  fontColor:'black',
                },
              },
            ],
          },
        },
      });
    }
    function graph(data, id) {
      var labels = data.labels;
      var chartLabel = [data.source,"Other sources"];
      var chartdata = [data.contribution, 100 - data.contribution];
      var ctx = document.getElementById(id).getContext("2d");
      var chart_expense = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: chartLabel,
          datasets: [
            {
              label: "Contribution",
              backgroundColor: ["rgb(255, 99, 132)", "rgba(255, 205, 86)"],
              borderColor: "black",
              data: chartdata,
              hoverOffset: 4,
            },
          ],
        },
      });
    }
  </script>
  {%endblock content%}
</div>
