{%extends 'base.html'%} {% block content %}
<div class="container pt-5">
    <form action="{% url 'stock_predict' %}" method="get">
    <label for="opt">Select Stock</label>
    <datalist id="suggestions" name="name">
      <option value="#" disabled selected>---------------</option>
      {% for i in lis %}
      <option>{{i}}</option>
      {% endfor %}
    </datalist>
    <input autocomplete="on" list="suggestions" name="name" type="text" style='width:100%' value="{{name}}" title="Stock"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
<br>
<br>
<br>

{% if not no %}
<div class="container pt-5">
  <div class="container pt-5">
    <div class="col">
      <div class="row"><h3>{{name}} - {{price}}</h3><br><br><br><br>
          <form method="get" action="{% url 'stock_transact' %}">
            <input type="hidden" name="name" value="{{name}}">
            <button type="submit" class="btn btn-success">Buy</button>
        </form>
        
        <form method='get' action="{% url 'stock_sell' %}">
            <input type="hidden" name="name" value="{{name}}">
            <button type="submit" class="btn btn-danger">Sell</button>
        </form>
        </div>
      </div>
      {% if o.category == 'l' %}
      <h5>Large Cap</h5>
      {% elif o.category == 'm' %}
      <h5>Mid Cap</h5>
      {% elif o.category == 's' %}
      <h5>Small Cap</h5>
      {% else %}
      <h5>Not Available</h5>
      {% endif %}
    </div>
    <div class="container">
  </div>
  </div>
  <div  style="padding:20px;margin-left:1300px" class="container">
    <table class="table table-striped" style="width: 20px; ">
      <tr>
        <td class="bg-success">5/5</td>
      </tr>
      <tr>
        <td style="background-color: yellowgreen;">4/5</td>
      </tr>
      <tr>
        <td style="background-color: yellow;">3/5</td>
      </tr>
      <tr>
        <td style="background-color: orange;">2/5</td>
      </tr>
      <tr>
        <td style="background-color: red;">1/5</td>
      </tr>
    </table>
  </div>

<div class="container pt-5">
  <table class="table table-striped" style="font-size:medium;">
    <thead>
      <tr>
        <th scope="col">Indicator</th>
        <th scope="col">Value</th>
        <th scope="col">Inference</th>
      </tr>
      </thead>
      <tbody>
        {% if o.nifty50 %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>
      <td> Nifty 50 index.</td>
      <td></td>
    </tr>
    {%endif%} {% if o.niftybank %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Bank index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftyit %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty IT index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftyfmcg %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty FMCG index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftypharma %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Pharma index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftyauto %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Auto index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftyenergy %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Energy index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftynext50 %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Next 50 index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.niftyhealthcare %}
    <tr class="bg-success" style="color:black">
      <td> Nifty Healthcare index.</td>
      <td></td>

    </tr>
    {%endif%} {% if o.isniftynext50 %}
    <tr class="bg-success" style="color:black">
      <td>Index</td>

      <td> Nifty Next 50 index.</td>
      <td></td>

    </tr>
    {%endif%}

    {% if o.pe <= 10 %}
      <tr class='bg-success'>

        <td>P/E</td>
        <td>{{o.pe}}</td>
        <td>The Stock is very Cheap. </td> 
      </tr>
      {% elif o.pe > 10 and o.pe <= 15 %}
      <tr style="background-color:yellowgreen">
        <td>P/E</td>
        <td>{{o.pe}}</td>
        <td>The Stock is slightly on Cheaper side.</td>
      </tr>
      {% elif o.pe <= 25 %}
      <tr style="background-color:yellow">
        <td>P/E</td>
        <td>{{o.pe}}</td>
        <td>The Stock Price is OK .</td>
      </tr>
      {% elif o.pe <= 30 %}
      <tr style="background-color: orange">
        <td>P/E</td>
        <td>{{o.pe}}</td>
        <td>The Stock is slightly overvalued.</td> 
      </tr>
      {% else %}
      <tr style="background-color: red">
        <td>P/E</td>
        <td>{{o.pe}}</td>
        <td>The Stock is Highly overvalued</td> 
      </tr>
      {% endif %}
      {% if o.pb <= 1 %}
      <tr class="bg-primary">
        <td>P/B</td>
        <td>{{o.pb}}</td>
        <td>Trading at cheaper price compared to book value</td>
      </tr>
      {% elif o.pb <= 3 %}
      <tr style="background-color:yellowgreen">
        <td>P/B</td>
        <td>{{o.pb}}</td>
        <td>The stock is trading at {{o.pb}} times book value.</td> 
      </tr>
      {% elif o.pb <= 5 %}
      <tr style="background-color:yellow">
        <td>P/B</td>
        <td>{{o.pb}}</td>
        <td></td>
      </tr>
      {% elif o.pb <= 9 %}
      <tr  style="background-color:orange">
        <td>P/B</td>
        <td>{{o.pb}}</td>
        <td>The stock is slightly overvalued. 
        </td>
      </tr>
      {% else %}
      <tr class="bg-danger">
        <td>P/B</td>
        <td>{{o.pb}}</td>
        <td>The stock is trading at higher price that book value. It is expensive. </td>
      </tr>

      {% endif %}
      {% if o.roe >= 0.20 %}
      <tr class="bg-success">
        <td>ROE</td>
        <td>{{o.roe}}</td>  
        <td></td>
      </tr>
      {% elif o.roe >= 0.15 %}
      <tr style='background-color:yellowgreen'>
        <td>ROE</td>
        <td>{{o.roe}}</td>  
        <td></td>
      </tr>
      {% elif o.roe >= 0.10 %}
      <tr style="background-color: yellow;">
        <td>ROE</td>
        <td>{{o.roe}}</td>  
        <td></td>
      </tr>
      {% elif o.roe >= 0.05 %}
      <tr style="background-color: orange;">
        <td>ROE</td>
        <td>{{o.roe}}</td>  
        <td></td>
      </tr>
      {% else %}
      <tr style="background-color: red;">
        <td>ROE</td>
        <td>{{o.roe}}</td>  
        <td></td>
      </tr>
      {%endif%}
      {% if o.doe <= 0.5 and o.doe >= 0 %}
      <tr class="bg-success">
        <td>Debt to Equity</td>
        <td> {{o.doe}} </td>
        <td>Lower Debt to Equity. Less Risky</td>
      </tr>
      {% elif o.doe <= 1 %}
      <tr style='background-color:yellowgreen'>
        <td>Debt to Equity</td>
        <td>{{o.doe}}</td>  
        <td>Good,but would be better if below 0.5</td>
      </tr>
      {% elif o.doe <= 2 %}
      <tr style="background-color: yellow;">
        <td>Debt to Equity</td>
        <td>{{o.doe}}</td>  
        <td>Consider this stock only if other factors are good</td>
      </tr>
      {% elif  o.doe <= 3  %}
      <tr style="background-color: orange;">
        <td>Debt to Equity</td>
        <td>{{o.doe}}</td>  
        <td>Company has high Debt. Avoid </td>
      </tr>
      {% else %}
      <tr style="background-color: red;">
        <td>Debt to Equity</td>
        <td>{{o.doe}}</td>  
        <td>Very Risky</td>
      </tr>
      {% endif %}
      {% if o.enterpriseToEbitda <= 10 %}
      <tr class="bg-success">
        <td>EV/EBDITA</td>
        <td> {{o.enterpriseToEbitda}} </td>
        <td>Lower EV/EBDITA. Good</td>
      </tr>
      {% elif o.enterpriseToEbitda <= 15 %}
      <tr style='background-color:yellowgreen'>
        <td>EV/EBDITA</td>
        <td>{{o.enterpriseToEbitda}}</td>  
        <td></td>
      </tr>
      {% elif o.enterpriseToEbitda <= 20 %}
      <tr style="background-color: yellow;">
        <td>EV/EBDITA</td>
        <td>{{o.enterpriseToEbitda}}</td>  
        <td></td>
      </tr>
      {% elif o.enterpriseToEbitda <= 25 %}
      <tr style="background-color: orange;">
        <td>EV/EBDITA</td>
        <td>{{o.enterpriseToEbitda}}</td>  
        <td> </td>
      </tr>
      {% else %}
      <tr style="background-color: red;">
        <td>EV/EBDITA</td>
        <td>{{o.enterpriseToEbitda}}</td>  
        <td></td>
      </tr>
      {% endif %}
      {% if o.dividendYield >= 5 %}
      <tr class="bg-success">
        <td>Dividend Yield</td>
        <td> {{o.dividendYield}} </td>
        <td>Higher Dividend Yield => Higher Cashflow</td>
      </tr>
      {% elif o.dividendYield >= 3 %}
      <tr style='background-color:yellowgreen'>
        <td>Dividend Yield</td>
        <td>{{o.dividendYield}}</td>  
        <td>Higher Dividend Yield => Higher Cashflow</td>

      </tr>
      {% elif o.dividendYield >= 2 %}
      <tr style="background-color: yellow;">
        <td>Dividend Yield</td>
        <td>{{o.dividendYield}}</td>  
        <td>Dividend Yield Normal (Average)</td>
      </tr>
      {% elif o.dividendYield >= 1 %}
      <tr style="background-color: orange;">
        <td>Dividend Yield</td>
        <td>{{o.dividendYield}}</td>  
        <td> Lower Dividend Yield</td>
      </tr>
      {% else %}
      <tr style="background-color:red;">
        <!-- Your table cells (td/th) content goes here -->
      
        <td>Dividend Yield</td>
        <td>{{o.dividendYield}}</td>  
        <td > Lower Dividend Yield</td>
      </tr>
      {% endif %}

      {% if o.ESG == 100 %}
      <tr style="background-color: plum;">
        <td>ESG</td>
        <td>Data Unable To Fetch</td>  
        <td> </td>
      </tr>
      {%elif o.ESG < 10 %}
      <tr class="bg-success">
        <td>ESG </td>
        <td> {{o.ESG}} </td>
        <td>Very Low Risk</td>
      </tr>
      {% elif o.ESG < 20 %}
      <tr style='background-color:yellowgreen'>
        <td>ESG </td>
        <td>{{o.ESG}}</td>  
        <td>Low Risk</td>
      </tr>
      {% elif o.ESG < 30 %}
      <tr style="background-color: yellow;">
        <td>ESG </td>
        <td>{{o.ESG}}</td>  
        <td>Average Risk</td>
      </tr>
      {% elif o.ESG < 40 %}
      <tr style="background-color: orange;">
        <td>ESG </td>
        <td>{{o.ESG}}</td>  
        <td> High Risk </td>
      </tr>
      {% else %}
      <tr style="background-color: red;">
        <td>ESG </td>
        <td>{{o.ESG}}</td>  
        <td>Very High Risk</td>
      </tr>
      {% endif %}
      
      {% if price >= a  %}
      <tr class="bg-success">
        <td>52 Weeks Low </td>
        <td> {{o.week52low}} </td>
        <td>The current price is more than 50% more than the 52 week low.</td>
      </tr>
      {% elif o.week52low < 20 %}
      <tr style='background-color:yellowgreen'>
        <td>52 Weeks Low </td>
        <td>{{o.week52low}}</td>  
        <td>The current price is more than 30% more than the 52 week low</td>
      </tr>
      {% elif o.week52low < 30 %}
      <tr style="background-color: yellow;">
        <td>52 Weeks Low </td>
        <td>{{o.week52low}}</td>  
        <td>The current price is more than 20% more than the 52 week low.</td>
      </tr>
      {% elif o.week52low < 40 %}
      <tr style="background-color: orange;">
        <td>52 Weeks Low </td>
        <td>{{o.week52low}}</td>  
        <td>The current price is more than 10% more than the 52 week low.</td>
      </tr>
      {% else %}
      {% endif %}

      <tr style="background-color: red;">
        <td>52 Weeks Low </td>
        <td>{{o.week52low}}</td>  
        <td> The current price is less than the 52 week low.</td>
      </tr>
      {% if o.ma50 >= o.ma200 %}
      <tr class="bg-success">
        <td>50 Days Moving Average </td>
        <td> {{o.ma50}} </td>
        <td>The 50 day moving average is more than the 200 day moving average.</td>
      </tr>
      <tr class="bg-success">
        <td>200 Days Moving Average </td>
        <td> {{o.ma200}} </td>
        <td>The 50 day moving average is more than the 200 day moving average.</td>
      </tr>
      {% else %}
      <tr style="background-color: yellow;">
        <td>50 Days Moving Average </td>
        <td> {{o.ma50}} </td>
        <td>The 50 day moving average is less than the 200 day moving average.</td>
      {% endif %}
      {% if price >= f and price <= e  %}
      <tr class="bg-success">
        <td>52 Weeks high </td>
        <td> {{o.week52high}} </td>
        <td>The current price is within 25% of the 52 week high.</td>
      </tr>
      {% else %}
      <tr style="background-color: yellow;">
        <td>52 Weeks high </td>
        <td>{{o.week52high}}</td>
        <td></td>
        </tr>
      {% endif %}
      {% if o.rsi <= 30 %}
      <tr class="bg-success">
        <td>RSI</td>
        <td> {{o.rsi}} </td>
        <td>OverSold</td>
      </tr>
      {% elif o.rsi <= 40 %}
      <tr style='background-color:yellowgreen'>
        <td>RSI</td>
        <td>{{o.rsi}}</td>  
        <td>Slight OverSold</td>

      </tr>
      {% elif o.rsi <= 60 %}
      <tr style="background-color: yellow;">
        <td>RSI</td>
        <td>{{o.rsi}}</td>  
        <td>In Normal Range</td>
      </tr>
      {% elif o.rsi <= 70 %}
      <tr style="background-color: orange;">
        <td>RSI</td>
        <td>{{o.rsi}}</td>  
        <td> Slightly Overbought</td>
      </tr>
      {% else %}
      <tr style="background-color: red;">
        <td>RSI</td>
        <td>{{o.rsi}}</td>  
        <td> Overbought</td>
      </tr>
      {% endif %}
      <tr style="background-color: deeppink;">
        <td>Final Rating (Out of 5)</td>
        <td>{{o.rating}}</td>  
        <td></td>
      </tr>
      <tr style="background-color: deeppink;">
        <td>Long Term Buy Signal (Out of 5)</td>
        <td>{{o.buysignal}}</td>  
        <td></td>
      </tr>
      <tr style="background-color: deeppink;">
        <td>Short Term Buy Signal </td>
        {% if o.ta == 'sb' %}
        <td>Strong buy</td>  
        {% elif o.ta == 'b' %}
        <td>Buy</td>  
        {% elif o.ta == 's' %}
        <td>Sell</td>  
        {% elif o.ta == 'ss' %}
        <td>Strong Sell</td>  
        {% else %}
        <td>Neutral</td>  
        {% endif %}
        <td></td>
      </tr>

      </tbody>
  </table>
<br>
<br>
<br>
<br>





  </div>



  













{% else %}
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endif %}

{% endblock content %}
