{% extends 'base.html' %} {% block content %}
{% include 'messages.html' %}
<form action="{% url 'use_to_fund_other' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="name">Select Want to which money is to be added</label>
    <datalist id="suggestions" name="source">
      {% for i in l %}
      <option value="{{i.source}}">{{i.source}} - {{i.amount_added}}</option>
      {% endfor %}
    </datalist>
    {% if i.source %}
    <input autocomplete="on" class="form-control" list="suggestions" name="source" type="text" style='width:100%' title="Wants" value="{{i.source}}" required /> 
    {% else %}
    <input autocomplete="on" class="form-control" list="suggestions" name="source" type="text" style='width:100%' title="Wants" required /> 
    {% endif %}
  </div>
    <div >
        <label for="amount">Enter the Amount you want to transfer</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" required />
    </div>
    <div>
        <label for="dest">Enter Want from which money is to be funded</label>
        <datalist id="suggestions" name="dest">
            {% for i in l %}
            <option value="{{i.source}}">{{i.source}} - {{i.amount_added}}</option>
            {% endfor %}
        </datalist>
        <input autocomplete="on" class="form-control" list="suggestions" name="dest" type="text" style='width:100%' title="Wants" required />
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
