{%extends 'base.html' %}
{% load static %}
{% block content %}
{% now "jS F Y " %}
<link rel="stylesheet/css" href="{% static 'css/button.css' %}">
<div class="col-md-7 col-lg-7" style="height: 450px;">
    <!-- List of all the tasks for the day -->
    {% for i in income %}
    <div class="card m-1">
        <div class="card-body">
            <a href="{% url 'analyse_single_wants' i.source %}">{{i.source}}</a><br>{{i.amount}} {{i.frequency}} {{i.last_date}} {{i.next_date}}
            <span style="position: relative; float: right;">
                {% if not i.status %}
                <a href="{% url 'add_wants' %}?name={{i.source}}" class="btn btn-primary"><i class="fa fa-check"></i> Add Want </a>
                {% else %}
                <a class="btn btn-success disabled" > Wants synced automatically </a>
                {% endif %}
            </span>
        </div>
    </div>
   {% endfor %}
</div>
{%endblock content %}